<div class="container">
    <form role="form" method="post" action="">
        <div class="form-group">
            <label for="personname">Имя:</label>
            <input type="text" name="PersonName" class="form-control" id="personname" placeholder="Например, Марья Петровна">
        </div>
        <div class="form-group">
            <label for="coordx">Широта (координата х):</label>
            <input type="text" name="CoordinateX" class="form-control" id="coordx" placeholder="Например, 55.871030">
        </div>
        <div class="form-group">
            <label for="coordy">Долгота (координата y):</label>
            <input type="text" name="CoordinateY" class="form-control" id="coordy" placeholder="Например, 37.658510">
        </div>
        <div class="form-group">
            <label for="service">Услуга:</label>
            <input type="text" name="ServiceName" class="form-control" id="service" placeholder="Например, пирожки">
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea class="form-control" name="ServiceDescription" rows="4" id="description" placeholder="Например, пеку вкусные пирожки с грибами, картошкой, луком"></textarea>
        </div>
        <button type="submit" class="btn btn-default" name="submitButton" value="postData">Отправить</button>
    </form>
</div>
